workflows/company-discovery.json
{
  "name": "company-discovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 09:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SPRING_API_URL }}/api/v1/discovery-filters/active",
        "authentication": "none",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-active-filters",
      "name": "Get Active Filters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json }}",
        "options": {}
      },
      "id": "split-filters",
      "name": "Split Filters",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SPRING_API_URL }}/api/v1/companies/discover",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "source",
              "value": "google_maps"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "trigger-discovery",
      "name": "Trigger Discovery per Filter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "notes": "Calls Spring Boot CompanyDiscoveryService.discoverFromFilter via REST. Real impl uses filterId not domain."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SPRING_API_URL }}/agent/extract-emails",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "companyId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "extract-emails",
      "name": "Extract Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SPRING_API_URL }}/agent/analyze",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "companyId",
              "value": "={{ $('trigger-discovery').item.json.id }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "analyze-company",
      "name": "Analyze Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "BLACKLISTED"
            }
          ]
        }
      },
      "id": "check-blacklisted",
      "name": "Is Blacklisted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {},
      "id": "end-blacklisted",
      "name": "Skip (Blacklisted)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SPRING_API_URL }}/api/v1/email-accounts/by-company/{{ $('Analyze Company').item.json.companyId }}",
        "authentication": "none",
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-email-accounts",
      "name": "Get Email Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 420]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json }}",
        "options": {}
      },
      "id": "split-accounts",
      "name": "Split Email Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SPRING_API_URL }}/agent/write",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"companyId\": \"{{ $('Analyze Company').item.json.companyId }}\",\n  \"emailAccountId\": \"{{ $json.id }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "write-draft",
      "name": "Write Email Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 420]
    }
  ],
  "connections": {
    "Daily 09:00 UTC": {
      "main": [
        [{ "node": "Get Active Filters", "type": "main", "index": 0 }]
      ]
    },
    "Get Active Filters": {
      "main": [
        [{ "node": "Split Filters", "type": "main", "index": 0 }]
      ]
    },
    "Split Filters": {
      "main": [
        [{ "node": "Trigger Discovery per Filter", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Discovery per Filter": {
      "main": [
        [{ "node": "Extract Emails", "type": "main", "index": 0 }]
      ]
    },
    "Extract Emails": {
      "main": [
        [{ "node": "Analyze Company", "type": "main", "index": 0 }]
      ]
    },
    "Analyze Company": {
      "main": [
        [{ "node": "Is Blacklisted?", "type": "main", "index": 0 }]
      ]
    },
    "Is Blacklisted?": {
      "main": [
        [{ "node": "Skip (Blacklisted)", "type": "main", "index": 0 }],
        [{ "node": "Get Email Accounts", "type": "main", "index": 0 }]
      ]
    },
    "Get Email Accounts": {
      "main": [
        [{ "node": "Split Email Accounts", "type": "main", "index": 0 }]
      ]
    },
    "Split Email Accounts": {
      "main": [
        [{ "node": "Write Email Draft", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler"
  },
  "staticData": null,
  "tags": ["outreach", "discovery"]
}
